<h1>Log In</h1>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_tag sessions_path do %>
  <%= label_tag :username, "Username:" %>
  <%= text_field_tag :username %>

  <%= label_tag :password, "Password:" %>
  <%= text_field_tag :password %>

  <%= submit_tag "Log in" %>
<% end %>
